/*

INDEX partials MAIN

*/

main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

main::-webkit-scrollbar {
  display: none;
}
