/*

USUARIO PARTIALS SECTION

*/

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-top: 60px;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: auto;
  overflow: hidden;
}

/* Itens */

section .itens {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Icone */

section .itens .icone {
  width: 100%;
  max-width: 150px;
}

section .itens .icone img {
  width: 100%;
}

/* Descricao */

section .itens .descricao {
  width: 100%;
  max-width: 500px;
  padding: 25px;
}

section .itens .descricao p {
  text-align: center;
  font-size: 1.1rem;
}

/* Botao */

section .itens .botao button {
  transition: all 0.2s;
}

section .itens .botao button:hover {
  opacity: 0.7;
}

/* Responsivo */

@media screen and (max-width: 700px) {
  section .itens .descricao p {
    font-size: 1rem;
  }
  section .itens .botao button {
    font-size: 0.9rem;
  }
}
