/*

USUARIO partials SETAS

*/

div.topo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 60px;
  min-height: 60px;
  max-height: 60px;
  background-color: rgba(14, 15, 22, 0.7);
  backdrop-filter: blur(15px);
}

div.topo p {
  font-family: var(--roboto-light);
  font-size: 1.2rem;
  color: var(--cor-branco);
}

div.topo p span {
  padding: 0px 5px;
}

div.topo p span[name="total"] {
  opacity: 0.6;
}

/* Seta */

button.seta {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  min-height: 60px;
  max-height: 60px;
  background-color: transparent;
  transform: scale(1);
  transition: all 0.2s;
}

button.seta.ocultar {
  opacity: 0.2;
}

button.seta.voltar {
  margin-right: auto;
  padding-left: 15px;
}

button.seta.avancar {
  margin-left: auto;
  padding-right: 15px;
}

button.seta:hover {
  transform: scale(0.9);
}

button.seta.ocultar:hover {
  opacity: 0.2;
  transform: scale(1);
  cursor: default;
}

button.seta img {
  height: 25px;
  min-height: 25px;
  max-height: 25px;
  pointer-events: none;
}

/* Responsivo */

@media screen and (max-width: 700px) {
  div.topo {
    height: 50px;
    min-height: 50px;
    max-height: 50px;
  }

  button.seta {
    height: 50px;
    min-height: 50px;
    max-height: 50px;
  }

  button.seta img {
    height: 15px;
    min-height: 15px;
    max-height: 15px;
  }
}
