<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

  <!-- Titulo -->
  <title>Redirecione - Novo link da Bio</title>
  <meta property="og:title" content="Redirecione - Novo link da Bio">
  <meta name="twitter:title" content="Redirecione - Novo link da Bio">
  <meta name="discord:title" content="Redirecione - Novo link da Bio">

  <!-- Description -->
  <meta name="description" content="Design, inovação e tecnologia com um balde de amor.">
  <meta itemprop="description" content="Design, inovação e tecnologia com um balde de amor.">
  <meta property="og:description" content="Design, inovação e tecnologia com um balde de amor.">
  <meta name="twitter:description" content="Design, inovação e tecnologia com um balde de amor.">
  <meta name="discord:description" content="Design, inovação e tecnologia com um balde de amor.">

  <!-- Site URL -->
  <link rel="canonical" href="https://redireci.one">
  <meta property="og:url" content="https://redireci.one">
  <meta name="discord:site" content="https://redireci.one">
  <meta property="discord:url" content="https://redireci.one">

  {{> metatags}}
  {{> favicons}}

</head>
<body>

  {{> loading}}

  <!-- header -->
  <header>

    <!-- titulo -->
    <div class="titulo">
      <img class="logo" src="https://static.redireci.one/assets/global/logo-redirecione.svg">
      <h1>Transforme seus seguidores em clientes e <span>aumente seu faturamento</span>.</h1>
      <h2>Construa uma ponte para seus seguidores transitarem entre suas redes sociais e encontrarem seus canais de venda em apenas 1 link.</h2>
      <button type="button" data-scroll-seletor="section#assinar">
        <p>Quero começar <span>AGORA</span></p>
        <img src="https://static.redireci.one/assets/global/seta-fina-baixo.svg">
      </button>
      <button type="button" class="entrar" name="entrar" data-url-externa="https://app.redireci.one/">
        <p>Já tenho conta</p>
        <img src="https://static.redireci.one/assets/global/seta-fina-direita.svg">
      </button>
    </div>

    <!-- imagem -->
    <div class="imagem">
      <img name="abrir_modal" src="https://static.redireci.one/assets/web/play.svg">
    </div>

    <!-- modal -->
    <section name="modal" class="modal">
      <div class="video">
        <div class="iframe">
          <iframe src=""></iframe>
        </div>
      </div>
      <button type="button" class="fechar" name="fechar_modal">
        <img src="https://static.redireci.one/assets/global/x-vermelho.svg">
      </button>
    </section>
  </header>

  <!-- section > publico -->
  <section class="publico" name="publico">
    <!-- titulo -->
    <div class="titulo">
      <h2>Porque utilizar o Redirecione?</h2>
    </div>
    <!-- itens -->
    <div class="itens">
      <!-- item -->
      <div class="item">
        <img src="https://static.redireci.one/assets/web/usuario-check-4.svg">
        <p>Para transformar seguidores das suas redes sociais em clientes.</p>
      </div>
      <!-- item -->
      <div class="item">
        <img src="https://static.redireci.one/assets/web/usuario-check-2.svg">
        <p>Para aumentar o seu número de seguidores, migrando eles de uma rede social para outra.</p>
      </div>
      <!-- item -->
      <div class="item">
        <img src="https://static.redireci.one/assets/web/usuario-check-1.svg">
        <p>Direcionar toda sua audiência nas diferentes redes sociais em apenas um único link.</p>
      </div>
      <!-- item -->
      <div class="item">
        <img src="https://static.redireci.one/assets/web/usuario-check-3.svg">
        <p>Para você que é apaixonado por Design construir uma página exclusiva e encantar seus seguidores</p>
      </div>
    </div>
  </section>

  <!-- section > descricao -->
  <section class="descricao" name="descricao">
    <!-- parte -->
    <div class="parte um">
      <!-- imagem -->
      <div class="imagem" name="imagem-celular" data-id="1">
        <img src="https://static.redireci.one/assets/web/celular-1.svg">
      </div>
      <!-- texto -->
      <div class="texto">
        <h2>Sua página é a ponte que permite que interessados de <span>qualquer cidade, região ou país</span> encontrem seus Contatos e canais de venda.</h2>
        <h3>Uma página não é só sinal de profissionalismo, mas também dá aos clientes informações importantes sobre seus produtos, serviços e até formas de falar com você, aumentando a conversão de interessados em clientes.</h3>
        <button type="button" data-scroll-seletor="section#assinar">
          <p>Quero uma <span>PAGINA</span></p>
          <img src="https://static.redireci.one/assets/global/seta-fina-baixo.svg">
        </button>
      </div>
    </div>
    <!-- parte -->
    <div class="parte dois">
      <!-- texto -->
      <div class="texto">
        <h3>Atenção</h3>
        <p>A Redirecione não é apenas uma ferramenta para facilitar para seus clientes. Ela é também um facilitador para você!</p>
        <p>Com uma página Redirecione você pode manter seus dados de contato e links das redes sociais sempre atualizados. Ao mudar numa de suas telas você está técnicamente mudando em todas as redes sociais que seu link se encontra.</p>
      </div>
    </div>
  </section>

  <!-- section > como funciona -->
  <section class="como_funciona" name="como_funciona">
    <!-- criar -->
    <div class="criar">
      <!-- destaque -->
      <div class="destaque">
        <h2 class="texto">Aqui está como funciona</h2>
      </div>
      <!-- texto -->
      <div class="texto">
        <h2 class="titulo">1. Crie</h2>
        <p>- Construa sua página em minutos.</p>
        <p>- Personalize a página como quiser.</p>
        <p>- Sem precisar saber programação.</p>
      </div>
    </div>
    <!-- compartilhar -->
    <div class="compartilhar">
      <!-- destaque -->
      <div class="destaque">
        <img src="https://static.redireci.one/assets/web/imagem-compartilhar.png">
      </div>
      <!-- texto -->
      <div class="texto">
        <h2 class="titulo">2. Compartilhe</h2>
        <p>- Insira em suas redes sociais.</p>
        <p>- Envie pelo whatsapp.</p>
        <p>- Adicione no Google Meu Negócio.</p>
        <p>- Ou simplesmente compartilhe o link.</p>
      </div>
    </div>
    <!-- resultados -->
    <div class="resultados">
      <!-- destaque -->
      <div class="destaque">
        <img src="https://static.redireci.one/assets/web/imagem-resultados.png">
      </div>
      <!-- texto -->
      <div class="texto">
        <h2 class="titulo">3. Aproveite os resultados</h2>
        <p>- Confira quantos usuários visitaram sua página.</p>
        <p>- Feche mais vendas com seus seguidores.</p>
        <p>- Veja os seguidores aumentarem de uma rede para outra.</p>
      </div>
    </div>
  </section>

  <!-- section > assinar -->
  <section class="assinar" name="assinar" id="assinar">
    <!-- imagem -->
    <div class="imagem">
      <img name="abrir_modal" src="https://static.redireci.one/assets/web/play.svg">
    </div>
    <!-- titulo -->
    <div class="titulo">
      <h2>Facilite suas vendas <span>agora mesmo</span>.</h2>
      <h3>Crie sua conta gratuitamente no botão abaixo.</h3>
      <button type="button" class="assinar" name="assinar" data-url-externa="https://app.redireci.one/registrar">
        <p>Criar conta <span>AGORA</span></p>
        <img src="https://static.redireci.one/assets/global/seta-fina-direita.svg">
      </button>
    </div>
    <!-- modal -->
    <section name="modal" class="modal">
      <div class="video">
        <div class="iframe">
          <iframe src=""></iframe>
        </div>
      </div>
      <button type="button" class="fechar" name="fechar_modal">
        <img src="https://static.redireci.one/assets/global/x-vermelho.svg">
      </button>
    </section>
  </section>

  <!-- section < perguntas -->
  <section class="perguntas" name="perguntas">
    <!-- conteudo -->
    <div class="conteudo">
      <h2>Perguntas <span>Frequentes</span></h2>
      <!-- itens -->
      <div class="itens">
        <!-- item -->
        <div class="collapsible" name="collapsible">
          <h3>Como falar com o suporte?</h3>
          <img src="https://static.redireci.one/assets/global/seta-fina-baixo.svg">
          <div class="resposta" name="resposta">
            <p>Estamos disponíveis todos os dias para responder suas dúvidas!</p>
            <p>Para falar com o suporte clique no ícone flutuante no canto inferior direito da página.</p>
          </div>
        </div>
        <!-- item -->
        <div class="collapsible" name="collapsible">
          <h3>Qualquer um pode ter uma página Redirecione?</h3>
          <img src="https://static.redireci.one/assets/global/seta-fina-baixo.svg">
          <div class="resposta" name="resposta">
            <p>Com toda certeza! Não é necessário nenhum conhecimento técnico.</p>
            <p>Nós construímos uma tecnologia muito simples e intuitiva, com poucos cliques você vai ter sua própria página.</p>
          </div>
        </div>
        <div class="collapsible" name="collapsible">
          <h3>Eu não sei nada de tecnologia. Posso ter uma página mesmo assim?</h3>
          <img src="https://static.redireci.one/assets/global/seta-fina-baixo.svg">
          <div class="resposta" name="resposta">
            <p>Absolutamente! Se você está migrando para o digital e ainda não tem muita experiência com o mundo da internet fique tranquilo(a)!</p>
            <p>Nós estamos aqui para te ajudar nessa nova jornada da sua vida! A plataforma que você está prestes a conhecer é muito simples! E qualquer dúvida que aparecer basta pedir ajuda no chat, combinado?</p>
          </div>
        </div>
        <div class="collapsible" name="collapsible">
          <h3>O que fazer depois que eu já tiver uma página?</h3>
          <img src="https://static.redireci.one/assets/global/seta-fina-baixo.svg">
          <div class="resposta" name="resposta">
            <p>Assim que você tiver sua página basta começar a divulgá-la!</p>
            <p>- Você pode enviar o link da sua página para os seus contatos do Whatsapp.</p>
            <p>- Você pode colocar o link da sua página em todas as suas redes sociais como: Facebook, Instagram e Youtube. Assim é provável que novas parcerias cheguem até você.</p>
            <p>- Você pode adicionar o link da sua página no Google Meu Negócio para conseguir novos clientes através do Google Maps.</p>
            <p>- Você pode adicionar o link da sua página no seu blog para que os seus leitores encontrem você mais facilmente.</p>
            <p>- Você pode utilizar o link da sua página em ferramentas de currículo online ou portfólio digital.</p>
          </div>
        </div>
        <!-- item -->
        <div class="collapsible" name="collapsible">
          <h3>Qual a diferença entre planos?</h3>
          <img src="https://static.redireci.one/assets/global/seta-fina-baixo.svg">
          <div class="resposta" name="resposta">
            <p>Graças ao peso para nossos servidores só podemos liberar a criação de 3 telas nas contas Gratuitas.</p>
            <p>A assinatura RED nós da a oportunidade de tirar essa limitação, deixando com que você crie quantas telas quiser.</p>
          </div>
        </div>
        <!-- item -->
        <div class="collapsible" name="collapsible">
          <h3>Como funciona o pagamento?</h3>
          <img src="https://static.redireci.one/assets/global/seta-fina-baixo.svg">
          <div class="resposta" name="resposta">
            <p>Os pagamentos são processados pela Stripe. A maior  empresa de transações financeiras online do mundo. Então pode ficar  tranquilo(a), seus dados estão super seguros!</p>
            <p>O valor é de R$ 19,90. Os pagamentos  ocorrem de forma recorrente no seu  cartão de crédito. Ou seja, uma vez que você se registrou, não vai  precisar se preocupar com os próximos pagamentos.</p>
          </div>
        </div>
      </div>
      <!-- botao -->
      <button type="button" data-scroll-seletor="section#assinar">
        <p>Quero começar <span>AGORA</span></p>
        <img src="https://static.redireci.one/assets/global/seta-fina-cima.svg">
      </button>
    </div>
  </section>

  <section>
    <button type="button" class="float" name="chaport">
      <img src="https://static.redireci.one/assets/web/icone-suporte.png">
    </button>
  </section>

  <!-- footer -->
  <footer>
    <img src="https://static.redireci.one/assets/global/logo-redirecione.svg">
    <p>Todos os direitos reservados para Redirecione - 2021</p>
  </footer>

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-D4JTHYX759"></script>
  <script async src="https://static.redireci.one/js/ga.js"></script>

  <!-- FaceAds -->
  <script async src="https://static.redireci.one/js/fb.js"></script>
  <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=378763450074302&ev=PageView&noscript=1"/></noscript>

</body>
</html>
