/*

COMPONENTE TEMPORIZADOR

*/

app-temporizador {
  width: 100%;
  height: auto;
  background-color: var(--cor-secundaria-1);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Titulo */

app-temporizador div.titulo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  padding: 100px 0px 100px 100px;
  width: 100%;
}

app-temporizador div.titulo h2 {
  font-family: var(--roboto-medium);
  font-size: 2rem;
  width: 100%;
  max-width: 400px;
  color: var(--cor-branco);
}

app-temporizador div.titulo h2 span {
  color: var(--cor-verde);
}

/* Itens */

app-temporizador div.itens {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 60px 100px 60px 0px;
  width: 100%;
}

app-temporizador div.itens div.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

app-temporizador div.itens div.item p {
  font-family: var(--maven-regular);
  font-size: 1.1rem;
  color: var(--cor-branco);
  padding: 10px 0px 0px 20px;
}

app-temporizador div.itens div.item div {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin: 0px 0px 0px 20px;
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
}

app-temporizador div.itens div.item div.um {
  background-color: var(--cor-secundaria-2);
}

app-temporizador div.itens div.item div.dois {
  background-color: var(--cor-secundaria-3);
}

app-temporizador div.itens div.item div h3 {
  font-family: var(--maven-medium);
  font-size: 2.5rem;
  color: var(--cor-branco);
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  app-temporizador {
    flex-direction: column;
  }
  app-temporizador div.titulo {
    padding: 50px 30px 30px 30px;
  }
  app-temporizador div.titulo h2 {
    font-size: 1.5rem;
    max-width: 100%;
  }
  app-temporizador div.itens {
    justify-content: center;
    padding: 0px 30px 50px 30px;
  }
  app-temporizador div.itens div.item {
    justify-content: space-between;
    width: 100%;
  }
  app-temporizador div.itens div.item p {
    font-size: 1rem;
    padding: 10px 0px 0px 0px;
  }
  app-temporizador div.itens div.item div {
    margin: 0px 0px 0px 0px;
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
  }
  app-temporizador div.itens div.item div h3 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 600px) {
  app-temporizador div.itens div.item div {
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;
  }
  app-temporizador div.itens div.item div h3 {
    font-size: 2rem;
  }
  app-temporizador div.itens div.item p {
    font-size: 0.9rem;
  }
  app-temporizador div.titulo h2 {
    max-width: 300px;
  }
}

@media screen and (max-width: 450px) {
  app-temporizador div.itens div.item div {
    width: 68px;
    height: 68px;
    min-width: 68px;
    min-height: 68px;
    border-radius: 10px;
  }
  app-temporizador div.itens div.item p {
    font-size: 0.8rem;
  }
  app-temporizador div.itens div.item div h3 {
    font-size: 1.6rem;
  }
}
