/*

PAGES > SECTION > ASSINAR

*/

section.assinar {
  width: 100%;
  height: 100%;
  background-color: var(--cor-secundaria-2);
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Titulo */

section.assinar div.titulo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  width: 100%;
  min-height: 80vh;
}

section.assinar div.titulo h2 {
  font-family: var(--roboto-medium);
  font-size: 2rem;
  color: var(--cor-branco);
  width: 100%;
  padding: 0px 100px 20px 100px;
}

section.assinar div.titulo h2 span {
  color: var(--cor-verde);
}

section.assinar div.titulo h3 {
  font-family: var(--roboto-light);
  font-size: 1.2rem;
  color: var(--cor-cinza);
  width: 100%;
  padding: 0px 100px 50px 100px;
}

section.assinar div.titulo button {
  font-family: var(--maven-regular);
  font-size: 1.1rem;
  color: var(--cor-branco);
  background-color: var(--cor-verde);
  margin: 0px 100px 0px 100px;
  padding: 10px 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  transition: all 0.3s;
}

section.assinar div.titulo button:hover {
  transform: scale(0.9);
  background-color: var(--cor-verde-escuro);
}

section.assinar div.titulo button img {
  width: 15px;
  height: 15px;
  min-width: 15px;
  min-height: 15px;
  pointer-events: none;
}

section.assinar div.titulo button p {
  margin-left: auto;
  padding: 0px 40px 0px 0px;
  pointer-events: none;
}

section.assinar div.titulo button p span {
  font-family: var(--maven-medium);
}

section.assinar div.titulo button.desativado {
  background-color: var(--cor-vermelho);
  pointer-events: none;
}

/* Imagem */

section.assinar div.imagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 80vh;
  background-color: var(--cor-secundaria-2);
  background-image: url('https://static.redireci.one/assets/web/web-red.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section.assinar div.imagem img {
  width: 100%;
  max-width: 200px;
  transform: scale(1);
  transition: all 0.3s;
  cursor: pointer;
}

section.assinar div.imagem img:hover {
  transform: scale(0.9);
}

/* Modal */

section.assinar section.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  background-color: rgba(50, 50, 51, 0.2);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s;
}

section.assinar section.modal.mostrar {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

section.assinar section.modal .video {
  width: 60%;
}

section.assinar section.modal .video .iframe {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

section.assinar section.modal .video .iframe iframe {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--cor-preto);
  border-radius: 15px;
}

section.assinar section.modal.mostrar .video .iframe iframe {
  display: flex;
}

section.assinar section.modal button.fechar {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  background-color: transparent;
  transform: scale(1);
  transition: all 0.3s;
}

section.assinar section.modal button.fechar:hover {
  transform: scale(0.9);
}

section.assinar section.modal button.fechar img {
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  section.assinar {
    min-height: auto;
    flex-direction: column-reverse;
  }
  section.assinar div.titulo {
    min-height: auto;
  }
  section.assinar div.titulo h2 {
    font-size: 1.4rem;
    padding: 70px 30px 20px 30px;
  }
  section.assinar div.titulo h3 {
    font-size: 1.1rem;
    padding: 0px 30px 20px 30px;
  }
  section.assinar div.titulo button {
    font-size: 1rem;
    margin: 0px 30px 20px 30px;
  }
  section.assinar div.imagem {
    min-height: 270px;
  }
  section.assinar div.imagem img {
    max-width: 130px;
  }
  section.assinar section.modal .video {
    width: 95%;
  }
}
