/*

PAGES > SECTION > BENEFÍCIOS

*/

section.beneficios {
  width: 100%;
  height: auto;
  background-color: var(--cor-secundaria-4);
  background-image: url('https://static.redireci.one/assets/background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Texto */

section.beneficios div.texto {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  padding: 50px 100px 100px 100px;
  background-color: var(--cor-azul-escuro);
  position: relative;
}

section.beneficios div.texto div.titulo {
  position: absolute;
  top: 50px;
  left: -350px;
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  padding: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--cor-azul-escuro);
}

section.beneficios div.texto div.titulo h2 {
  font-family: var(--roboto-medium);
  font-size: 1.5rem;
  color: var(--cor-branco);
}

section.beneficios div.texto h3 {
  font-family: var(--roboto-medium);
  font-size: 1.5rem;
  padding: 0px 0px 15px 0px;
  color: var(--cor-branco);
}

section.beneficios div.texto p {
  font-family: var(--maven-regular);
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--cor-branco);
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  section.beneficios {
    justify-content: center;
    padding: 200px 30px 60px 0px;
    background-image: none;
  }
  section.beneficios div.texto {
    width: 100%;
    padding: 15px 30px 50px 30px;
  }
  section.beneficios div.texto div.titulo {
    top: -150px;
    left: auto;
    right: -30px;
  }
  section.beneficios div.texto div.titulo h2 {
    font-size: 1.3rem;
  }
  section.beneficios div.texto h3 {
    font-size: 1.3rem;
  }
  section.beneficios div.texto p {
    font-size: 1.1rem;
  }
}

