/*

PAGES > SECTION > COMO FUNCIONA

*/

section.como_funciona {
  width: 100%;
  height: auto;
  background-color: var(--cor-secundaria-3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

section.como_funciona > div {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 60px;
  min-height: 520px;
}

/* Destaque*/
section.como_funciona > div > .destaque {
  width: 100%;
  display: flex;
  justify-content: flex-end
}

section.como_funciona > div > .destaque > img {
  max-width: 600px;
}

/* Texto */
section.como_funciona > div h2.titulo,
section.como_funciona > div > .destaque .texto {
  font-family: var(--roboto-medium);
  font-size: 1.5rem;
  color: var(--cor-branco);
}

section.como_funciona > div > .texto {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  justify-content: flex-start;
}

section.como_funciona > div > .texto > .titulo {
  margin-bottom: 20px;
}

section.como_funciona > div > .texto > p {
  font-family: var(--maven-regular);
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--cor-branco);
  margin-bottom: 5px;
}

/* CRIAR */
section.como_funciona > .criar {
  background-color: var(--cor-secundaria-1);
}

section.como_funciona > .criar > .destaque > .texto {
  padding: 30px;
  background-color: var(--cor-azul-escuro);
}


/* COMPARTILHAR */
section.como_funciona .compartilhar {
  background-color: var(--cor-secundaria-2);
}

/* RESULTADOS */
section.como_funciona > .resultados {
background-color: var(--cor-secundaria-3);
}


/* Responsivo */

@media screen and (max-width: 800px) {
  section.como_funciona > div {
    flex-direction: column;
  }
  section.como_funciona > div > .texto {
    margin-left: 0px;
  }

  section.como_funciona > div > .destaque {
    margin-bottom: 30px;
  }

}

