/*

PAGES > INDEX > SECTIONS > DESCRIÇÃO

*/

section.descricao {
  width: 100%;
  height: auto;
  background-color: var(--cor-secundaria-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Imagem */

section.descricao div.imagem {
  position: absolute;
  top: 100px;
  left: 100px;
  background-image: url('https://static.redireci.one/assets/web/imagem-preview-1.jpg');
  background-color: var(--cor-secundaria-4);
  background-size: contain;
  border-radius: 30px 30px 70px 70px;
  background-repeat: no-repeat;
  min-width: 332px;
  max-width: 332px;
  min-height: 640px;
  max-height: 640px;
}

section.descricao div.imagem img {
  width: 100%;
  height: 100%;
  min-width: 332px;
  max-width: 332px;
  min-height: 640px;
  max-height: 640px;
  cursor: pointer;
}

/* Parte */

section.descricao div.parte {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}

section.descricao div.parte.dois {
  background-color: var(--cor-secundaria-2);
}

section.descricao div.parte div.texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  width: 50%;
}

section.descricao div.parte.um div.texto {
  padding: 140px 100px 140px 0px;
}

section.descricao div.parte.dois div.texto {
  padding: 100px 100px 100px 0px;
}

section.descricao div.parte.um div.texto h2 {
  font-family: var(--roboto-medium);
  font-size: 2rem;
  color: var(--cor-branco);
  width: 100%;
  padding: 0px 0px 0px 0px;
}

section.descricao div.parte.um div.texto h2 span {
  color: var(--cor-amarelo);
}

section.descricao div.parte.um div.texto h3 {
  font-family: var(--maven-regular);
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--cor-branco);
  width: 100%;
  padding: 20px 0px 20px 0px;
}

section.descricao div.parte.um div.texto button {
  font-family: var(--maven-regular);
  font-size: 1.1rem;
  color: var(--cor-branco);
  background-color: var(--cor-amarelo);
  margin: 0px 0px 0px 0px;
  padding: 10px 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  transition: all 0.3s;
}

section.descricao div.parte.um div.texto button:hover {
  transform: scale(0.9);
  background-color: var(--cor-amarelo-escuro);
}

section.descricao div.parte.um div.texto button img {
  width: 15px;
  height: 15px;
  min-width: 15px;
  min-height: 15px;
  pointer-events: none;
}

section.descricao div.parte.um div.texto button p {
  margin-left: auto;
  padding: 0px 40px 0px 0px;
  pointer-events: none;
}

section.descricao div.parte.um div.texto button p span {
  font-family: var(--maven-medium);
}

section.descricao div.parte.dois div.texto h3 {
  font-family: var(--roboto-medium);
  font-size: 2rem;
  color: var(--cor-branco);
  width: 100%;
  padding: 0px 0px 0px 0px;
}

section.descricao div.parte.dois div.texto p {
  font-family: var(--maven-regular);
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--cor-branco);
  width: 100%;
  padding: 20px 0px 0px 0px;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  section.descricao {
    position: inherit;
  }
  section.descricao div.parte {
    position: relative;
  }
  section.descricao div.parte div.texto {
    width: 100%;
  }
  section.descricao div.parte.um div.texto {
    padding: 70px 30px 320px 30px;
  }
  section.descricao div.parte.dois div.texto {
    padding: 320px 30px 70px 30px;
  }
  section.descricao div.parte.um div.texto h2 {
    font-size: 1.5rem;
  }
  section.descricao div.parte.um div.texto h3 {
    font-size: 1.1rem;
  }
  section.descricao div.parte.um div.texto button {
    font-size: 1rem;
  }

  section.descricao div.parte.dois div.texto h3 {
    font-size: 1.5rem;
  }
  section.descricao div.parte.dois div.texto p {
    font-size: 1.1rem;
  }
  section.descricao div.imagem {
    position: absolute;
    top: auto;
    bottom: -256px;
    left: 30px;
    z-index: 1;
    min-width: 265.6px;
    max-width: 265.6px;
    min-height: 512px;
    max-height: 512px;
  }
  section.descricao div.imagem img {
    min-width: 265.6px;
    max-width: 265.6px;
    min-height: 512px;
    max-height: 512px;
  }
}

