/*

PAGES > FOOTER

*/

footer {
  width: 100%;
  height: auto;
  background-color: var(--cor-secundaria-4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 30px;
}

footer img {
  width: 100%;
  max-width: 150px;
}

footer p {
  font-family: var(--maven-regular);
  font-size: 1rem;
  line-height: 1.5;
  padding: 20px 30px 0px 30px;
  text-align: center;
  color: var(--cor-branco);
}
