/*

PAGES > SECTION > GARANTIA

*/

section.garantia {
  width: 100%;
  height: auto;
  background-color: var(--cor-secundaria-2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 30px;
}

/* Conteudo */

section.garantia div.conteudo {
  width: 100%;
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.garantia div.conteudo img {
  width: 100%;
  max-width: 300px;
}

/* Texto */

section.garantia div.conteudo div.texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  width: 100%;
  padding: 0px 0px 0px 50px;
}

section.garantia div.conteudo div.texto h2 {
  font-family: var(--roboto-medium);
  font-size: 2rem;
  color: var(--cor-amarelo);
  width: 100%;
}

section.garantia div.conteudo div.texto p {
  font-family: var(--maven-regular);
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--cor-branco);
  width: 100%;
  padding: 5px 0px 0px 0px;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  section.garantia div.conteudo {
    flex-direction: column;
    align-items: center;
  }
  section.garantia div.conteudo img {
    max-width: 200px;
  }
  section.garantia div.conteudo div.texto {
    padding: 50px 0px 0px 0px;
  }
  section.garantia div.conteudo div.texto h2 {
    font-size: 1.5rem;
  }
  section.garantia div.conteudo div.texto p {
    font-size: 1.1rem;
  }
}
