/*

PAGES > INDEX > HEADER

*/

header {
  width: 100%;
  height: auto;
  background-color: var(--cor-secundaria-2);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Titulo */

header div.titulo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  width: 100%;
  min-height: 100vh;
  padding: 100px 0px;
}

header div.titulo img.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100%;
  max-width: 150px;
}

header div.titulo h1 {
  font-family: var(--roboto-medium);
  font-size: 2rem;
  color: var(--cor-branco);
  width: 100%;
  padding: 0px 100px 0px 100px;
}

header div.titulo h1 span {
  color: var(--cor-azul-claro);
}

header div.titulo h2 {
  font-family: var(--maven-regular);
  font-weight: 100;
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--cor-branco);
  width: 100%;
  padding: 20px 100px 20px 100px;
}

header div.titulo button {
  font-family: var(--maven-regular);
  font-size: 1.1rem;
  color: var(--cor-branco);
  background-color: var(--cor-azul);
  margin: 0px 100px 0px 100px;
  padding: 10px 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  transition: all 0.3s;
}

header div.titulo button:hover {
  transform: scale(0.9);
  background-color: var(--cor-azul-escuro);
}

header div.titulo button img {
  width: 15px;
  height: 15px;
  min-width: 15px;
  min-height: 15px;
  pointer-events: none;
}

header div.titulo button p {
  margin-left: auto;
  padding: 0px 40px 0px 0px;
  pointer-events: none;
}

header div.titulo button p span {
  font-family: var(--maven-medium);
}

header div.titulo button.entrar {
  font-size: 1rem;
  color: var(--cor-branco);
  background-color: unset;
  margin: 10px 100px 15px 100px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  transition: all 0.3s;
}
header div.titulo button.entrar:hover {
  color: var(--cor-cinza);
}

header div.titulo button.entrar > p {
  padding: 0px 10px 0px 0px;
}

/* Imagem */

header div.imagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--cor-secundaria-1);
  background-image: url('https://static.redireci.one/assets/web/web-links.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

header div.imagem img {
  width: 100%;
  max-width: 200px;
  transform: scale(1);
  transition: all 0.3s;
  cursor: pointer;
}

header div.imagem img:hover {
  transform: scale(0.9);
}

/* Modal */

header section.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  background-color: rgba(50, 50, 51, 0.2);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s;
}

header section.modal.mostrar {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

header section.modal .video {
  width: 60%;
}

header section.modal .video .iframe {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

header section.modal .video .iframe iframe {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--cor-preto);
  border-radius: 15px;
}

header section.modal.mostrar .video .iframe iframe {
  display: flex;
}

header section.modal button.fechar {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  background-color: transparent;
  transform: scale(1);
  transition: all 0.3s;
}

header section.modal button.fechar:hover {
  transform: scale(0.9);
}

header section.modal button.fechar img {
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  header {
    flex-direction: column;
    min-height: auto;
  }
  header div.titulo {
    min-height: auto;
    padding: 0px 0px;
  }
  header div.titulo img.logo {
    top: 10px;
    left: 10px;
    max-width: 80px;
  }
  header div.titulo h1 {
    font-size: 1.5rem;
    max-width: 100%;
    padding: 80px 30px 0px 30px;
  }
  header div.titulo h2 {
    font-size: 1.1rem;
    max-width: 100%;
    padding: 15px 30px 15px 30px;
  }
  header div.titulo h3 {
    font-size: 0.8rem;
    padding: 7px 30px 50px 30px;
  }
  header div.titulo button {
    font-size: 1rem;
    margin: 0px 30px 0px 30px;
  }

  header div.titulo button.entrar {
    margin: 10px 30px 15px 30px;
  }

  header div.imagem {
    min-height: 200px;
    width: calc(100% - 60px);
    margin: 0px 0px 40px 0px;
    background-position: top;
  }
  header div.imagem img {
    width: 100%;
    max-width: 100px;
    transform: scale(1);
    transition: all 0.3s;
    cursor: pointer;
  }
  header section.modal .video {
    width: 95%;
  }
}
