/*

PAGES > SECTION > PERGUNTAS

*/

section.perguntas {
  width: 100%;
  height: auto;
  background-color: var(--cor-secundaria-3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 30px;
}

/* Conteudo */

section.perguntas div.conteudo {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section.perguntas div.conteudo h2 {
  font-family: var(--roboto-medium);
  font-size: 2rem;
  text-align: center;
  padding: 0px 0px 20px 0px;
  color: var(--cor-branco);
}

section.perguntas div.conteudo h2 span {
  color: var(--cor-azul);
}

section.perguntas div.conteudo button {
  font-family: var(--maven-regular);
  font-size: 1.1rem;
  color: var(--cor-branco);
  background-color: var(--cor-azul);
  margin: 50px 0px 0px 0px;
  padding: 10px 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  transition: all 0.3s;
}

section.perguntas div.conteudo button:hover {
  transform: scale(0.9);
  background-color: var(--cor-azul-escuro);
}

section.perguntas div.conteudo button img {
  width: 15px;
  height: 15px;
  min-width: 15px;
  min-height: 15px;
  pointer-events: none;
}

section.perguntas div.conteudo button p {
  margin-left: auto;
  padding: 0px 40px 0px 0px;
  pointer-events: none;
}

section.perguntas div.conteudo button p span {
  font-family: var(--maven-medium);
}

/* Itens */

section.perguntas div.conteudo div.itens {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section.perguntas div.conteudo div.itens div.collapsible {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  position: relative;
  background-color: var(--cor-secundaria-4);
  margin: 20px 0px 0px 0px;
  padding: 20px;
  cursor: pointer;
  width: 100%;
}

section.perguntas div.conteudo div.itens div.collapsible * {
  pointer-events: none;
}

section.perguntas div.conteudo div.itens div.collapsible div.resposta {
  height: 0;
  transition: all 0.3s;
}

section.perguntas div.conteudo div.itens div.collapsible div.resposta.aberto {
  height: 100%;
}

section.perguntas div.conteudo div.itens div.collapsible div.resposta.aberto p {
  opacity: 1;
  visibility: visible;
}

section.perguntas div.conteudo div.itens div.collapsible img {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
}

section.perguntas div.conteudo div.itens div.collapsible h3 {
  font-family: var(--maven-medium);
  font-size: 1.2rem;
  padding: 0px 20px 0px 0px;
  color: var(--cor-branco);
}

section.perguntas div.conteudo div.itens div.collapsible p {
  font-family: var(--maven-regular);
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 15px 0px 0px 0px;
  color: var(--cor-branco);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  section.perguntas div.conteudo div.itens div.collapsible h3 {
    font-size: 1.1rem;
  }
  section.perguntas div.conteudo div.itens div.collapsible p {
    font-size: 1.1rem;
  }
  section.perguntas div.conteudo h2 {
    font-size: 1.5rem;
  }
  section.perguntas div.conteudo button {
    font-size: 1rem;
  }
}
