/*

PAGES > INDEX > SECTION > PUBLICO

*/

section.publico {
  width: 100%;
  height: auto;
  background-color: var(--cor-secundaria-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Titulo */

section.publico div.titulo {
  width: 100%;
  background-color: var(--cor-secundaria-3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

section.publico div.titulo h2 {
  font-family: var(--roboto-medium);
  font-size: 1.6rem;
  color: var(--cor-branco);
  text-align: center;
}

/* Itens */

section.publico div.itens {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  width: 100%;
}

section.publico div.itens div.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 25px;
  width: 100%;
}

section.publico div.itens div.item p {
  font-family: var(--maven-regular);
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--cor-branco);
  padding: 20px 0px 0px 0px;
}

section.publico div.itens div.item img {
  width: 100%;
  max-width: 150px;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  section.publico div.titulo h2 {
    font-size: 1.2rem;
  }
  section.publico div.itens {
    flex-direction: column;
    padding: 30px 15px;
  }
  section.publico div.itens div.item {
    padding: 30px 15px;
  }
  section.publico div.itens div.item p {
    font-size: 1.1rem;
  }
  section.publico div.itens div.item img {
    max-width: 130px;
  }
}
