/*

PAGES > SUPPORT

*/

.float {
	position:fixed;
  display: flex;
  justify-content: center;
  align-items: center;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color: var(--cor-verde);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
  transform: scale(1);
  transition: all 0.3s;
}

.float > img {
  border-radius: 50px;
  width: 40px;
}

.float:hover {
  transform: scale(0.9);
  box-shadow: 1px 1px 2px #999;
  background-color: var(--cor-verde-escuro);
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  .float {
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
  }

  .float > img {
    border-radius: 50px;
    width: 40px;
  }

}
