/*

INDEX partials HEADER

*/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 30px 50px 80px;
  min-height: 100vh;
}

header h1 {
  font-family: var(--roboto-medium);
  font-size: 1.6rem;
  color: var(--cor-branco);
  width: 100%;
  max-width: 400px;
  background: linear-gradient(to right,#FE5D7A 20%,#FFCD4B 40%,#1EED89 60%,#49D3FF 70%,#FE5D7A 90%);
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: degrade 1s linear infinite;
}

@keyframes degrade {
  to {
    background-position: 200% center;
  }
}

header p {
  font-family: var(--maven-regular);
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--cor-secundaria-6);
  padding: 10px 0px 20px 0px;
  width: 100%;
  max-width: 600px;
}

header button {
  font-family: var(--roboto-medium);
  font-size: 1rem;
  color: var(--cor-branco);
  background-color: var(--cor-secundaria-4);
  padding: 13px 30px;
  transition: all 0.3s;
}

header button:hover {
  background-color: var(--cor-secundaria-2);
}

/* Responsivo */

@media screen and (max-width: 600px) {
  header h1 {
    font-size: 1.4rem;
    max-width: 200px;
  }
  header p {
    font-size: 1rem;
  }
  header button {
    font-size: 0.9rem;
  }
}
