/*

TEMPLATES BOTOES

*/

/* Quadrados */

.formato_botao_1 {
  padding: 15px 30px 15px 30px;
  border-radius: 0px 0px 0px 0px;
}

.formato_botao_2 {
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 0px 0px;
}

.formato_botao_3 {
  padding: 10px 40px 10px 40px;
  border-radius: 0px 0px 0px 0px;
}

.formato_botao_4 {
  padding: 30px 30px 30px 30px;
  border-radius: 0px 0px 0px 0px;
}

.formato_botao_5 {
  padding: 5px 30px 5px 30px;
  border-radius: 0px 0px 0px 0px;
}

.formato_botao_6 {
  padding: 10px 40px 10px 15px;
  border-radius: 0px 0px 0px 0px;
}

.formato_botao_7 {
  padding: 10px 15px 10px 40px;
  border-radius: 0px 0px 0px 0px;
}

.formato_botao_8 {
  padding: 10px 20px 40px 20px;
  border-radius: 0px 0px 0px 0px;
}

.formato_botao_9 {
  padding: 40px 20px 10px 20px;
  border-radius: 0px 0px 0px 0px;
}

.formato_botao_10 {
  padding: 50px 10px 10px 50px;
  border-radius: 0px 0px 0px 0px;
}

.formato_botao_11 {
  padding: 10px 50px 50px 10px;
  border-radius: 0px 0px 0px 0px;
}

.formato_botao_12 {
  padding: 50px 20px 50px 20px;
  border-radius: 0px 0px 0px 0px;
}

.formato_botao_13 {
  padding: 15px 20px 15px 20px;
  border-radius: 0px 0px 0px 0px;
  transform: rotate(5deg);
}

.formato_botao_14 {
  padding: 15px 20px 15px 20px;
  border-radius: 0px 0px 0px 0px;
  transform: rotate(-5deg);
}

.formato_botao_15 {
  padding: 10px 20px 10px 20px;
  border-radius: 0px 0px 0px 0px;
  transform: skew(25deg);
}

.formato_botao_16 {
  padding: 10px 20px 10px 20px;
  border-radius: 0px 0px 0px 0px;
  transform: skew(-25deg);
}

/* Redondos */

.formato_botao_17 {
  padding: 15px 30px 15px 30px;
  border-radius: 50px 50px 50px 50px;
}

.formato_botao_18 {
  padding: 10px 10px 10px 10px;
  border-radius: 50px 50px 50px 50px;
}

.formato_botao_19 {
  padding: 10px 40px 10px 40px;
  border-radius: 50px 50px 50px 50px;
}

.formato_botao_20 {
  padding: 30px 30px 30px 30px;
  border-radius: 50px 50px 50px 50px;
}

.formato_botao_21 {
  padding: 5px 30px 5px 30px;
  border-radius: 50px 50px 50px 50px;
}

.formato_botao_22 {
  padding: 10px 40px 10px 15px;
  border-radius: 50px 50px 50px 50px;
}

.formato_botao_23 {
  padding: 10px 15px 10px 40px;
  border-radius: 50px 50px 50px 50px;
}

.formato_botao_24 {
  padding: 10px 30px 40px 30px;
  border-radius: 50px 50px 50px 50px;
}

.formato_botao_25 {
  padding: 40px 30px 10px 30px;
  border-radius: 50px 50px 50px 50px;
}

.formato_botao_26 {
  padding: 50px 20px 20px 50px;
  border-radius: 50px 50px 50px 50px;
}

.formato_botao_27 {
  padding: 20px 50px 50px 20px;
  border-radius: 50px 50px 50px 50px;
}

.formato_botao_28 {
  padding: 50px 20px 50px 20px;
  border-radius: 50px 50px 50px 50px;
}

.formato_botao_29 {
  padding: 15px 20px 15px 20px;
  border-radius: 50px 50px 50px 50px;
  transform: rotate(5deg);
}

.formato_botao_30 {
  padding: 15px 20px 15px 20px;
  border-radius: 50px 50px 50px 50px;
  transform: rotate(-5deg);
}

.formato_botao_31 {
  padding: 10px 20px 10px 20px;
  border-radius: 50px 50px 50px 50px;
  transform: skew(25deg);
}

.formato_botao_32 {
  padding: 10px 20px 10px 20px;
  border-radius: 50px 50px 50px 50px;
  transform: skew(-25deg);
}

/* Arredondados */

.formato_botao_33 {
  padding: 15px 30px 15px 30px;
  border-radius: 12px 12px 12px 12px;
}

.formato_botao_34 {
  padding: 10px 10px 10px 10px;
  border-radius: 12px 12px 12px 12px;
}

.formato_botao_35 {
  padding: 10px 40px 10px 40px;
  border-radius: 12px 12px 12px 12px;
}

.formato_botao_36 {
  padding: 30px 30px 30px 30px;
  border-radius: 12px 12px 12px 12px;
}

.formato_botao_37 {
  padding: 5px 30px 5px 30px;
  border-radius: 12px 12px 12px 12px;
}

.formato_botao_38 {
  padding: 10px 40px 10px 15px;
  border-radius: 12px 12px 12px 12px;
}

.formato_botao_39 {
  padding: 10px 15px 10px 40px;
  border-radius: 12px 12px 12px 12px;
}

.formato_botao_40 {
  padding: 10px 20px 40px 20px;
  border-radius: 12px 12px 12px 12px;
}

.formato_botao_41 {
  padding: 40px 20px 10px 20px;
  border-radius: 12px 12px 12px 12px;
}

.formato_botao_42 {
  padding: 50px 10px 10px 50px;
  border-radius: 12px 12px 12px 12px;
}

.formato_botao_43 {
  padding: 10px 50px 50px 10px;
  border-radius: 12px 12px 12px 12px;
}

.formato_botao_44 {
  padding: 50px 20px 50px 20px;
  border-radius: 12px 12px 12px 12px;
}

.formato_botao_45 {
  padding: 15px 20px 15px 20px;
  border-radius: 12px 12px 12px 12px;
  transform: rotate(5deg);
}

.formato_botao_46 {
  padding: 15px 20px 15px 20px;
  border-radius: 12px 12px 12px 12px;
  transform: rotate(-5deg);
}

.formato_botao_47 {
  padding: 10px 20px 10px 20px;
  border-radius: 12px 12px 12px 12px;
  transform: skew(25deg);
}

.formato_botao_48 {
  padding: 10px 20px 10px 20px;
  border-radius: 12px 12px 12px 12px;
  transform: skew(-25deg);
}

/* Bandeiras */

.formato_botao_49 {
  padding: 15px 30px 15px 30px;
  border-radius: 20px 0px 20px 0px;
}

.formato_botao_50 {
  padding: 10px 10px 10px 10px;
  border-radius: 20px 0px 20px 0px;
}

.formato_botao_51 {
  padding: 10px 40px 10px 40px;
  border-radius: 20px 0px 20px 0px;
}

.formato_botao_52 {
  padding: 30px 30px 30px 30px;
  border-radius: 20px 0px 20px 0px;
}

.formato_botao_53 {
  padding: 5px 30px 5px 30px;
  border-radius: 20px 0px 20px 0px;
}

.formato_botao_54 {
  padding: 10px 40px 10px 15px;
  border-radius: 20px 0px 20px 0px;
}

.formato_botao_55 {
  padding: 10px 15px 10px 40px;
  border-radius: 20px 0px 20px 0px;
}

.formato_botao_56 {
  padding: 10px 20px 40px 20px;
  border-radius: 20px 0px 20px 0px;
}

.formato_botao_57 {
  padding: 40px 20px 10px 20px;
  border-radius: 20px 0px 20px 0px;
}

.formato_botao_58 {
  padding: 50px 10px 10px 50px;
  border-radius: 20px 0px 20px 0px;
}

.formato_botao_59 {
  padding: 10px 50px 50px 10px;
  border-radius: 20px 0px 20px 0px;
}

.formato_botao_60 {
  padding: 50px 20px 50px 20px;
  border-radius: 20px 0px 20px 0px;
}

.formato_botao_61 {
  padding: 15px 20px 15px 20px;
  border-radius: 20px 0px 20px 0px;
  transform: rotate(5deg);
}

.formato_botao_62 {
  padding: 15px 20px 15px 20px;
  border-radius: 20px 0px 20px 0px;
  transform: rotate(-5deg);
}

.formato_botao_63 {
  padding: 10px 20px 10px 20px;
  border-radius: 20px 0px 20px 0px;
  transform: skew(25deg);
}

.formato_botao_64 {
  padding: 10px 20px 10px 20px;
  border-radius: 20px 0px 20px 0px;
  transform: skew(-25deg);
}
