/*

TEMPLATES FONTES

*/

.fonte_alfa_slab_one_regular {
  font-family: 'alfa_slab_one_regular';
  letter-spacing: 1px;
  line-height: 1.5;
}

.fonte_audio_wide_regular {
  font-family: 'audio_wide_regular';
  letter-spacing: 1.5px;
  line-height: 1.4;
}

.fonte_bangers_regular {
  font-family: 'bangers_regular';
  letter-spacing: 1.5px;
  line-height: 1.4;
}

.fonte_bungee_inline_regular {
  font-family: 'bungee_inline_regular';
  letter-spacing: 1.5px;
  line-height: 1.4;
}

.fonte_cabin_sketch_regular {
  font-family: 'cabin_sketch_regular';
  letter-spacing: 1.5px;
  line-height: 1.2;
}

.fonte_chewy_regular {
  font-family: 'chewy_regular';
  letter-spacing: 1.5px;
  line-height: 1.2;
}

.fonte_cyntho_next_bold {
  font-family: 'cyntho_next_bold';
  letter-spacing: 1px;
  line-height: 1.2;
}

.fonte_cyntho_next_regular {
  font-family: 'cyntho_next_regular';
  letter-spacing: 1px;
  line-height: 1.2;
}

.fonte_freckle_face_regular {
  font-family: 'freckle_face_regular';
  letter-spacing: 1px;
  line-height: 1.2;
}

.fonte_fredoka_one_regular {
  font-family: 'fredoka_one_regular';
  letter-spacing: 1px;
  line-height: 1.4;
}

.fonte_gilroy_bold {
  font-family: 'gilroy_bold';
  letter-spacing: 1px;
  line-height: 1.4;
}

.fonte_gloria_hallelujah_regular {
  font-family: 'gloria_hallelujah_regular';
  letter-spacing: 1px;
  line-height: 1.4;
}

.fonte_grand_hotel_regular {
  font-family: 'grand_hotel_regular';
  letter-spacing: 1px;
  line-height: 1.4;
}

.fonte_monoton_regular {
  font-family: 'monoton_regular';
  letter-spacing: 1.5px;
  line-height: 1.2;
}

.fonte_montserrat_light {
  font-family: 'montserrat_light';
  letter-spacing: 1px;
  line-height: 1.3;
}

.fonte_orbitron {
  font-family: 'orbitron';
  letter-spacing: 1.5px;
  line-height: 1.3;
}

.fonte_permanet_maker_regular {
  font-family: 'permanet_maker_regular';
  letter-spacing: 1px;
  line-height: 1.3;
}

.fonte_piedra_regular {
  font-family: 'piedra_regular';
  letter-spacing: 1.5px;
  line-height: 1.3;
}

.fonte_press_start_regular {
  font-family: 'press_start_regular';
  letter-spacing: 0px;
  line-height: 1.3;
}

.fonte_rock_salt_regular {
  font-family: 'rock_salt_regular';
  letter-spacing: 1px;
  line-height: 1.3;
}

.fonte_rye_regular {
  font-family: 'rye_regular';
  letter-spacing: 1px;
  line-height: 1.4;
}

.fonte_sansitas_washed {
  font-family: 'sansitas_washed';
  letter-spacing: 1px;
  line-height: 1.4;
}

.fonte_shadows_in_to_light {
  font-family: 'shadows_in_to_light';
  letter-spacing: 1px;
  line-height: 1.4;
}

.fonte_thinking_of_betty {
  font-family: 'thinking_of_betty';
  letter-spacing: 1px;
  line-height: 1.3;
}

.fonte_yeseva_one_regular {
  font-family: 'yeseva_one_regular';
  letter-spacing: 1px;
  line-height: 1.3;
}

