<!-- Theme Color Global -->
<meta name="theme-color" content="#06070c">
<meta name="msapplication-TileColor" content="#06070c">
<meta name="msapplication-navbutton-color" content="#06070c">
<meta name="apple-mobile-web-app-status-bar-style" content="#06070c">

<!-- Share Image Size -->
<meta property="og:locale" content="pt_BR">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1920">
<meta property="og:image:height" content="1080">
<meta property="og:type" content="website">
<meta property="og:card" content="summary_large_image">
<meta property="twitter:card" content="summary_large_image">
<meta property="discord:card" content="summary_large_image">

<!-- Share Image URL -->
<meta name="image" content="https://static.redireci.one/assets/global/share.png">
<meta itemprop="image" content="https://static.redireci.one/assets/global/share.png">
<meta property="og:image" content="https://static.redireci.one/assets/global/share.png">
<meta name="discord:image" content="https://static.redireci.one/assets/global/share.png">
<meta name="twitter:image" content="https://static.redireci.one/assets/global/share.png">

<!-- Site Name -->
<meta name="author" content="Redirecione">
<meta itemprop="name" content="Redirecione">
<meta name="twitter:site" content="Redirecione">
<meta name="article:author" content="Redirecione">
<meta name="application-name" content="Redirecione">
<meta property="og:site_name" content="Redirecione">
<meta name="apple-mobile-web-app-title" content="Redirecione">
