<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

  <!-- Titulo -->
  <title>Usuário</title>
  <meta property="og:title" content="">
  <meta name="twitter:title" content="">
  <meta name="discord:title" content="">

  <!-- Description -->
  <meta name="description" content="">
  <meta itemprop="description" content="">
  <meta property="og:description" content="">
  <meta name="twitter:description" content="">
  <meta name="discord:description" content="">

  {{> metatags}}
  {{> favicons}}

</head>
<body>
  {{> loading}}

  <div class="topo" name="topo">
    <button type="button" class="seta voltar" name="voltar">
      <img src="https://static.redireci.one/assets/global/seta-esquerda-branco.svg">
    </button>
    <p class="contador">
      <span name="atual" name="atual">1</span>
      de
      <span name="total" name="total">10</span>
    </p>
    <button type="button" class="seta avancar" name="avancar">
      <img src="https://static.redireci.one/assets/global/seta-direita-branco.svg">
    </button>
  </div>

  <main>
    <div class="links"></div>
  </main>

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-D4JTHYX759"></script>
  <script async src="https://static.redireci.one/js/ga.js"></script>

</body>
</html>
