/*

INDEX partials FOOTER

*/

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-color: var(--cor-secundaria-2);
}

footer img {
  width: 100%;
  max-height: 10px;
}

/* Responsivo */

@media screen and (max-width: 700px) {
  footer img {
    max-height: 7px;
  }
}
