/*

INDEX PARTIALS LOADING

*/

section.loading {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  background-color: var(--cor-secundaria-1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: wait;
  transition: all 0.3s;
  overflow: hidden;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

body.carregando {
  overflow: hidden;
}

section.loading.ocultar {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* Icone R animado */

section.loading .icone {
  height: 80px;
  width: 80px;
  min-height: 80px;
  min-width: 80px;
  position: relative;
  animation: loadingRodar 2s linear infinite;
}

section.loading .icone * {
  position: absolute;
}

section.loading .icone .um {
  background-color: var(--cor-secundaria-3);
  top: 0;
  left: 0;
  height: 80px;
  width: 20px;
  animation: iconeUm 0.5s linear;
}

section.loading .icone .dois {
  background-color: var(--cor-secundaria-3);
  top: 0;
  right: 0;
  height: 20px;
  width: 80px;
  animation: iconeDois 0.5s linear;
}

section.loading .icone .tres {
  background-color: var(--cor-secundaria-3);
  bottom: 0;
  right: 0;
  height: 80px;
  width: 20px;
  animation: iconeTres 0.5s linear;
}

section.loading .icone .quatro {
  background-color: var(--cor-secundaria-3);
  bottom: 0;
  left: 0;
  height: 20px;
  width: 80px;
  animation: iconeQuatro 0.5s linear;
}

/* Animacoes */

@keyframes loadingRodar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes iconeUm {
  0% {
    top: -100px;
    background-color: var(--cor-secundaria-1);
  }
  60% {
    background-color: var(--cor-azul);
  }
  80% {
    background-color: var(--cor-azul);
  }
  100% {
    top: 0;
    background-color: var(--cor-secundaria-2);
  }
}

@keyframes iconeDois {
  0% {
    right: -100px;
    background-color: var(--cor-secundaria-1);
  }
  60% {
    background-color: var(--cor-vermelho);
  }
  80% {
    background-color: var(--cor-vermelho);
  }
  100% {
    right: 0;
    background-color: var(--cor-secundaria-2);
  }
}

@keyframes iconeTres {
  0% {
    bottom: -100px;
    background-color: var(--cor-secundaria-1);
  }
  60% {
    background-color: var(--cor-amarelo);
  }
  80% {
    background-color: var(--cor-amarelo);
  }
  100% {
    bottom: 0;
    background-color: var(--cor-secundaria-2);
  }
}

@keyframes iconeQuatro {
  0% {
    left: -100px;
    background-color: var(--cor-secundaria-1);
  }
  60% {
    background-color: var(--cor-verde);
  }
  80% {
    background-color: var(--cor-verde);
  }
  100% {
    left: 0;
    background-color: var(--cor-secundaria-2);
  }
}
