/*

INDEX partials NAV

*/

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 50px;
  min-width: 50px;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  background-color: var(--cor-secundaria-2);
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 4px;
  cursor: pointer;
}

/* Linha */

nav .linha {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
  width: 100%;
  max-width: 4px;
  min-width: 4px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  background: linear-gradient(to top,#49D3FF 0%,#FE5D7A 30%,#FFCD4B 60%,#1EED89 100%);
}

/* Logo */

nav .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: auto;
  padding: 0px 15px 40px 15px;
}

nav .logo img {
  width: 100%;
}

/* Menu */

nav .menu {
  position: relative;
}

/* Menu - Abrir e Fechar */

nav .menu button.acao {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  min-height: 60px;
  cursor: pointer;
  background-color: transparent;
}

nav .menu button.acao .icone {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  height: 16px;
  min-height: 16px;
  width: 20px;
  min-width: 20px;
  pointer-events: none;
}

nav .menu button.acao .icone div {
  background: var(--cor-branco);
  height: 4px;
  min-height: 4px;
  position: absolute;
  transition: all 0.5s;
}

nav .menu button.acao.abrir .icone div.linha_um {
  width: 20px;
  min-width: 20px;
  top: 0px;
  transform: rotate(0deg);
}

nav .menu button.acao.abrir .icone div.linha_dois {
  width: 10px;
  min-width: 10px;
  bottom: 0px;
  transform: rotate(0deg);
}

nav .menu button.acao.fechar .icone div.linha_um {
  width: 20px;
  min-width: 20px;
  top: 6px;
  transform: rotate(-45deg);
}

nav .menu button.acao.fechar .icone div.linha_dois {
  width: 20px;
  min-width: 20px;
  bottom: 6px;
  transform: rotate(45deg);
}

/* Menu - Opcoes */

nav .menu .opcoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  left: 50px;
  pointer-events: none;
}

nav .menu .opcoes.mostrar {
  pointer-events: all;
}

nav .menu .opcoes.mostrar button {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

nav .menu .opcoes button {
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: flex-start;
  background-color: var(--cor-secundaria-3);
  min-width: 250px;
  max-width: 250px;
  width: 250px;
  min-height: 80px;
  padding: 0px 15px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

nav .menu .opcoes button:hover {
  background-color: var(--cor-secundaria-4);
}

nav .menu .opcoes button.entrar {
  transition: all 0.2s;
}

nav .menu .opcoes button.assinar {
  transition: all 0.4s;
}

body.index nav .menu .opcoes button.conhecer {
  display: none;
}

nav .menu .opcoes button.conhecer {
  transition: all 0.6s;
}

nav .menu .opcoes button img {
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  pointer-events: none;
}

nav .menu .opcoes button div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  justify-content: center;
  padding-left: 15px;
  pointer-events: none;
}

nav .menu .opcoes button div p.menor {
  font-family: var(--roboto-medium);
  font-size: 0.75rem;
  color: var(--cor-branco);
  padding: 0px 0px 3px 0px;
}

nav .menu .opcoes button div p.maior {
  font-family: var(--roboto-medium);
  font-size: 1rem;
  color: var(--cor-branco);
}

nav .menu .opcoes button.entrar div p.maior span {
  color: var(--cor-azul);
}

nav .menu .opcoes button.assinar div p.maior span {
  color: var(--cor-amarelo);
}

nav .menu .opcoes button.conhecer div p.maior span {
  color: var(--cor-vermelho);
}
