/*

SCROLLBAR

*/

body, html {
  scrollbar-color: #424751 #06070c;
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  background-color: #06070c;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #424751;
}
