/*

VARIVEIS DO APP REDIRECIONE

*/

/* Cores */

:root {

--cor-secundaria-1: #06070c;
--cor-secundaria-2: #0e0f16;
--cor-secundaria-3: #292c35;
--cor-secundaria-4: #363a44;
--cor-secundaria-5: #424751;
--cor-secundaria-6: #4f5560;

--cor-azul-claro: #49D3FF;
--cor-azul: #43BDE6;
--cor-azul-escuro: #3BA8CC;

--cor-vermelho-claro: #FE5D7A;
--cor-vermelho: #E6556F;
--cor-vermelho-escuro: #CC4B63;

--cor-amarelo-claro: #FFCD4B;
--cor-amarelo: #E6B743;
--cor-amarelo-escuro: #CCA33B;

--cor-verde-claro: #1EED89;
--cor-verde: #1CD47B;
--cor-verde-escuro: #18BA6C;

--cor-cinza: #BABDC2;
--cor-branco: #FFFFFF;
--cor-preto: #000000;

}

/* Fontes */

:root {

--maven-regular: 'maven_regular';
--maven-medium: 'maven_medium';
--maven-bold: 'maven_bold';

--roboto-light: 'roboto_light';
--roboto-regular: 'roboto_regular';
--roboto-medium: 'roboto_medium';
}
